[Unit]
Description=Mount the Google drive to %i
ConditionPathIsDirectory=%h/%i

[Install]
#WantedBy=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=google-drive-ocamlfuse %h/%i
ExecStop=umount %h/%i
