[Unit]
Description=Prune the maven storage

[Service]
Type=oneshot
EnvironmentFile=%h/.local/share/systemd.user.env
ExecStart=sh -c ${PROFILE_DIR}/bin/maven-prune
