[alias]
	prefix-log = !branch_name=`git symbolic-ref --short HEAD` && branch_basename=`basename \"$branch_name\"` && git filter-branch --msg-filter \"sed -e '1s/^\\(\\[.*\\]\\)*[ \t]*/[${branch_basename}] /'\"
[color]
	ui = auto
[core]
	hooksPath = /home/vincent/src/github.com/V-Smeets/profile/git/hooks
[credential]
	helper = cache --timeout=86400
[fetch]
	prune = true
[http "https://onupgit.fsc.atos-services.net"]
	sslKey = /home/vincent/.config/ssl/private/S230984.key
	sslCert = /home/vincent/.config/ssl/certs/S230984.crt
[merge]
	tool = kdiff3
[mergetool]
	keepBackup = false
	writeToTemp = true
[pull]
	rebase = true
[push]
	default = simple
[tag]
	gpgSign = true
[user]
	email = Vincent.VSmeets@GMail.com
	name = Vincent Smeets
