[alias]
	prefix-log = !branch_name=`git symbolic-ref --short HEAD` && branch_basename=`basename \"$branch_name\"` && git filter-branch --msg-filter \"sed -e '1s/^\\(\\[.*\\]\\)*[ \t]*/[${branch_basename}] /'\"
[core]
	autocrlf = true
	hooksPath = C:/Project/None/src/profile/git/hooks
	longpaths = true
[fetch]
	prune = true
[http]
	proxy = http://localhost:9000
[http "https://onupgit.fsc.atos-services.net"]
	sslKey = C:/Project/keyStore.d/S230984.key
	sslCert = C:/Project/trustStore.d/S230984.crt
	sslCAInfo = C:/Project/trustStore.d/S230984.cacrt
	sslVerify = false
[merge]
	tool = tortoisemerge
[mergetool]
	keepBackup = false
	writeToTemp = true
[mergetool "tortoisemerge"]
	path = C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe
[pull]
	rebase = true
[push]
	default = simple
[user]
	email = Vincent.Smeets@atos.net
	name = Vincent Smeets
[winUpdater]
	recentlySeenVersion = 2.25.0.windows.1
