[alias]
	prefix-log = !branch_name=`git symbolic-ref --short HEAD` && branch_basename=`basename \"$branch_name\"` && git filter-branch --msg-filter \"sed -e '1s/^\\(\\[.*\\]\\)*[ \t]*/[${branch_basename}] /'\"
[core]
	autocrlf = true
	hooksPath = C:/Project/None/src/profile/git/hooks
[credential]
	helper = cache --timeout=86400
[fetch]
	prune = true
[http]
	proxy = http://proxy-de.glb.my-it-solutions.net:84
[mergetool]
	keepBackup = false
	writeToTemp = true
[pull]
	rebase = preserve
[push]
	default = simple
[user]
	email = Vincent.Smeets@atos.net
	name = Vincent Smeets
