[Unit]
Description=ip4tables
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=null
ProtectSystem=full
ProtectHome=true
ExecStart=/etc/iptables-setup start 4
ExecReload=/etc/iptables-setup reload 4
ExecStop=/etc/iptables-setup stop 4

[Install]
WantedBy=basic.target
